*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #151515;
  --gray: #2f2f2f;
  --white: #ffffff;

  --postion-init: 1;
  --postion-normal: 100;
  --postion-medium: 1000;
  --postion-aggressive: 10000;
}

html {
  font-size: 10px;
  background-color: var(--black);
  color: var(--white);
}
